  <div class="wrapper">
    <form class="form-signin" name="loginForm">
    <span style="color:red; font-family: cursive; font-size: small;"> {{message}} </span> 
      <center><h3 style="font-size: 40px">Please login</h3><br></center>
      <input type="text" class="form-control" name="username" placeholder="username"  autofocus=""  ng-model="username" required/>
     
      <br>
      <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required/>
       <br> 
       
      <button class="btn btn-lg btn-primary btn-block" ng-click="login()" onsubmit="return validateForm()">Login</button>   
    </form>
  </div>